.nav-menu{
    display: flex;
    padding: 5rem;
}


.nav-list{
    display: flex;
    flex-direction: row;
    gap: 5rem;
}


.nav-item{
    list-style: none;
}

.nav-link{
    background-color: rgba(173, 113, 113, 0.521);
    border-radius: .5rem;
    color: black;
    padding: .5rem 3rem;
}